version: '3'

services:
  inewgent_admin:
    container_name: inewgent_admin
    image: strapi/strapi
    environment:
      - DATABASE_CLIENT=mysql
      - DATABASE_HOST=mysql
      - DATABASE_PORT=3306
      - DATABASE_NAME=inewgent
      - DATABASE_USERNAME=inewgent
      - DATABASE_PASSWORD=s72272571
    ports:
      - 1337:1337
    volumes:
      - ./app:/srv/app
    networks:
      network-inewgent:

networks:
  network-inewgent:
    external: true
